**LOOPS IN PYTHON**

In python we have two main loops "for", "while".


**FOR LOOP**

In [9]:
lst = [ 1, 27,37,50,62 ]

In [2]:
for roll_no in lst:     #for loop
    print(roll_no)

1
27
37
50
62

**FOR LOOP USING RANGE**

In [6]:
#Example 

#in python whenever we use range the end item of it is always 
#n-1 which is, if we have 15 in range so its starts from 0 and ends 
#on n-1 -> 15-1 "14". according to the rules of indexing.


for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(5,11):
    print(i)

5
6
7
8
9
10

**WHILE LOOP**


Run as long as condition is true...

In [16]:
#example 

count = 5
while count <=10:
    print(count)
    count +=1

5
6
7
8
9
10

**LOOP CONTROLE STATEMENTS**

- Break: Exit the LOOP
- continue: Skip to the next iteration.
- pass: Does nothing (used for placeholders)

In [18]:
#pass

for i in lst:
    pass
print ("no one is here")

no one is here

In [25]:
#break- stop the loop

lst = [ 1, 27,37,50,62 ]
for item in lst:
    if(item == 50):
        break
    print(item)

1
27
37

In [26]:
#Continue skipps the iteration

lst = [ 1, 27,37,50,62 ]
for item in lst:
    if(item == 50):
        continue
    print(item)

1
27
37
62