**SETS & METHODS IN PYTHON**

It is a unoredred, mutable(changable), and unique collection of elements, it does not allow
duplicate values

In [2]:
a = {}

In [3]:
type(a)

dict

In [4]:
# to crrate empty set we have to use panrantheses 

b = set()

In [5]:
type(b)

set

In [6]:
s = { 4, 5, 6, 7 }

In [7]:
s

{4, 5, 6, 7}

In [8]:
#we cannot add duplicate values in set, it also dont have order for elements

In [11]:
s = { 1, 1}

In [13]:
s

{1}

In [16]:
#set is collection of mixed datatypes
ns = {1, "Rudraksh", 22.5, True}

ns

{1, 22.5, 'Rudraksh'}

In [19]:
#typecasting 

age_set = set([ 22, 25, 23, 21, 24])

In [21]:
age_set

{21, 22, 23, 24, 25}

In [22]:
age_set.update([27,28, 29,22])

In [23]:
age_set

{21, 22, 23, 24, 25, 27, 28, 29}

In [24]:
age_set.remove(21)

In [25]:
age_set

{22, 23, 24, 25, 27, 28, 29}

In [26]:
#remove method throws an error if the element is not in the set 

age_set.remove(30)

KeyError: 30

In [28]:
#discard method does not throws an error if the element is not in the set, if it available in list it removes othervise paas it without throwing error.


age_set.discard(30)

In [30]:
#remove randome elements from set and return it.

age_set.pop()

23

In [33]:
#union- create a new set from both with missing elements and return a new set without changing the orignal sets.

set1 = {1, 2 , 3 , 4}
set2 = {3, 4, 5, 6, 7}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [35]:
#return the same/common elements from both sets

set1.intersection(set2)

{3, 4}

In [36]:
#subset- If the set have some elements of another set which is defined before its called as sbset, 
#vice versa the another set called as superset of that subset because its carrying the same elements from superset.
#it return bolean values 


sub = {1, 3}

sub.issubset(set1)

True

In [38]:
set1.issuperset(sub)

True